Repository Nub-en-Nuber/NuberJam-Android, pull requests merged in 2023-10, with the labels that each got.

#135 feat(playlist): MP-373 Create DialogFragment Class
  app/src/main/java/com/example/nuberjam/ui/main/library/AddPlaylistDialogFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/FormValidation.kt
  app/src/main/res/layout/single_form_dialog.xml
  app/src/main/res/values/strings.xml
Labels: feat, playlist

#136 feat(playlist) : MP-350 Alert Dialog Feature
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/AddPlaylistDialogFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/FormValidation.kt
  app/src/main/res/layout/single_form_dialog.xml
  app/src/main/res/values/strings.xml
Labels: feat, playlist

#137 refactor(music): MP-385 Auto React Duration in Music Detail
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicFragment.kt
  app/src/main/res/layout/music_controller.xml
  app/src/main/res/layout/music_item.xml
  app/src/main/res/values/strings.xml
Labels: music, refactor

#139 refactor(music): MP-390 Duration Line Placement in Music Detail Page
  app/src/main/res/layout/music_controller.xml
Labels: music, refactor

#140 refactor(general) : MP-393 [QA] Music Detail Feature
  app/src/main/java/com/example/nuberjam/ui/main/adapter/MusicAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicFragment.kt
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/music_controller.xml
  app/src/main/res/layout/music_item.xml
  app/src/main/res/values/strings.xml
Labels: bug, general, refactor, defect

#142 feat(general): MP-403 Disable Landscape
  app/src/main/AndroidManifest.xml
Labels: feat, general

#141 feat(playlist): MP-398 No needed snackbar error in Library
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/AddPlaylistDialogFragment.kt
Labels: feat, playlist, defect

#143 refactor(general): MP-398 Remove Snackbar Shadow
  app/src/main/res/layout/snackbar.xml
Labels: general, refactor, defect

#144 refactor(general): MP-402 Tech Debt Sprint 7
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/AddPlaylistDialogFragment.kt
  app/src/main/res/layout/snackbar.xml
Labels: general, refactor, defect

#145 feat(account): MP-409 Create Profile UI Layout
  app/src/main/res/drawable/ic_forward_gray_16.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/values/strings.xml
Labels: account, feat

#146 refactor(account): MP-411 Refactor Account model, Login, DataStore & feat(account): MP-410 Create Check Account Artist
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/model/Account.kt
  app/src/main/java/com/example/nuberjam/data/source/preferences/AppPreferences.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/di/MyModule.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/ProfileFragment.kt
  app/src/main/java/com/example/nuberjam/utils/AesEncryption.kt
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/values/strings.xml
Labels: account, feat, refactor
