Repository Nub-en-Nuber/NuberJam-Android, pull requests merged in 2023-09, with the labels that each got.

#92 feat(album): MP-312 Create Album Adapter
  app/src/main/java/com/example/nuberjam/ui/main/adapter/AlbumAdapter.kt
Labels: album, feat

#93 feat(music): MP-315 Create Music Adapter
  app/src/main/java/com/example/nuberjam/data/model/Music.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/MusicAdapter.kt
  app/src/main/java/com/example/nuberjam/utils/Helper.kt
  app/src/main/java/com/example/nuberjam/utils/Mapping.kt
Labels: feat, music

#94 feat(music) : MP-317 Wiring List Music Data to UI
  .idea/misc.xml
  app/src/main/java/com/example/nuberjam/data/source/remote/response/DataResponse.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/MusicAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/Helper.kt
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/music_item.xml
Labels: feat, music

#95 feat(music) : MP-287 Music Feature
  .idea/misc.xml
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/model/Music.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/response/DataResponse.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/MusicAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/Helper.kt
  app/src/main/java/com/example/nuberjam/utils/Mapping.kt
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/music_item.xml
Labels: feat, music

#96 feat(album) : MP-313 Wiring List Album Data to UI
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeViewModel.kt
Labels: album, feat

#97 feat(album): MP-288 Album Feature
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/AlbumAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/Mapping.kt
  app/src/main/res/drawable/ic_search_gray.xml
Labels: album, feat

#98 refactor(album): MP-338 Change Album List Margin End
  app/src/main/res/layout/album_item.xml
Labels: album, refactor

#100 feat(general) : MP-351 General Snackbar Error: Interceptor Class
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/nuberjam/utils/NetworkConnectionInterceptor.kt
  app/src/main/java/com/example/nuberjam/utils/NoConnectivityException.kt
Labels: feat, general

#101 feat(general): MP-352 General Snackbar Error: Hilt Configuration
  app/src/main/java/com/example/nuberjam/di/MyModule.kt
Labels: feat, general

#102 refactor(general): MP-355 Change No Data Feedback to Lottie
  app/build.gradle
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/raw/no_data_animation.json
Labels: general, refactor

#103 feat(general) : MP-353 Change Wording for General Error
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/Result.kt
  app/src/main/java/com/example/nuberjam/ui/authentication/LoginFragment.kt
  app/src/main/java/com/example/nuberjam/ui/authentication/RegisterFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/MainActivity.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/java/com/example/nuberjam/utils/Helper.kt
  app/src/main/java/com/example/nuberjam/utils/NetworkConnectionInterceptor.kt
  app/src/main/res/values/strings.xml
Labels: feat, general

#104 refactor(general): MP-383 Remove Idea package from project
  .gitignore
  .idea/.gitignore
  .idea/.name
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/kotlinc.xml
  .idea/misc.xml
  .idea/vcs.xml
Labels: general, refactor

#105 feat(general) : MP-348 Tech Debt Sprint 6
  .gitignore
  .idea/.gitignore
  .idea/.name
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/kotlinc.xml
  .idea/misc.xml
  .idea/vcs.xml
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/Result.kt
  app/src/main/java/com/example/nuberjam/di/MyModule.kt
  app/src/main/java/com/example/nuberjam/ui/authentication/LoginFragment.kt
  app/src/main/java/com/example/nuberjam/ui/authentication/RegisterFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/MainActivity.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/java/com/example/nuberjam/utils/Helper.kt
  app/src/main/java/com/example/nuberjam/utils/NetworkConnectionInterceptor.kt
  app/src/main/java/com/example/nuberjam/utils/NoConnectivityException.kt
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_login.xml
  app/src/main/res/raw/no_data_animation.json
  app/src/main/res/values/strings.xml
Labels: feat, general

#106 feat(music): MP-295 Create AppBar for Detail Music
  app/src/main/res/drawable/ic_add_playlist_gray_32.xml
  app/src/main/res/layout/detail_appbar.xml
  app/src/main/res/values/strings.xml
Labels: feat, music

#107 feat(music): MP-296 Add Music Controller & Music Fragment
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicFragment.kt
  app/src/main/res/drawable/custom_play_button.xml
  app/src/main/res/drawable/custom_seekbar_view.xml
  app/src/main/res/layout/fragment_music.xml
  app/src/main/res/layout/music_controller.xml
Labels: feat, music

#108 feat(music) : MP-304 Create Data Request to Detail Music & Add Nav
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/model/Music.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/MusicAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/Mapping.kt
  app/src/main/res/navigation/main_navigation.xml
Labels: feat, music

#110 feat(music) : MP-299 Finalized Music Detail Layout
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicFragment.kt
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_music.xml
  app/src/main/res/layout/shimmer_music_layout.xml
  app/src/main/res/values/dimens.xml
Labels: feat, music

#111 feat(music) : MP-376 Show Snackbar Error and Shimmer Loading
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicViewModel.kt
Labels: feat, music

#112 feat(music) : MP-309 Create Music Service & MP-308 Wiring Detail Music
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/source/preferences/AppPreferences.kt
  app/src/main/java/com/example/nuberjam/service/MediaNotificationManager.kt
  app/src/main/java/com/example/nuberjam/service/MediaService.kt
  app/src/main/java/com/example/nuberjam/ui/main/MainActivity.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/Helper.kt
  app/src/main/res/drawable/custom_seekbar_view.xml
  app/src/main/res/layout/music_controller.xml
  app/src/main/res/layout/music_item.xml
  app/src/main/res/values/strings.xml
Labels: feat, music

#113 feat(music): MP-302 Wiring Appbar
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicFragment.kt
  app/src/main/res/layout/fragment_music.xml
Labels: feat, music

#114 feat(music): MP-289 Music Detail Feature
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/model/Music.kt
  app/src/main/java/com/example/nuberjam/data/source/preferences/AppPreferences.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/service/MediaNotificationManager.kt
  app/src/main/java/com/example/nuberjam/service/MediaService.kt
  app/src/main/java/com/example/nuberjam/ui/main/MainActivity.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/MusicAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/Helper.kt
  app/src/main/java/com/example/nuberjam/utils/Mapping.kt
  app/src/main/res/drawable/custom_play_button.xml
  app/src/main/res/drawable/custom_seekbar_view.xml
  app/src/main/res/drawable/ic_add_playlist_gray_32.xml
  app/src/main/res/drawable/shimmer_image.xml
  app/src/main/res/layout/detail_appbar.xml
  app/src/main/res/layout/fragment_home.xml
  app/src/main/res/layout/fragment_music.xml
  app/src/main/res/layout/music_controller.xml
  app/src/main/res/layout/music_item.xml
  app/src/main/res/layout/shimmer_music_layout.xml
  app/src/main/res/navigation/main_navigation.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Labels: feat, music

#115 feat(playlist): MP-365 Create Playlist Model
  app/src/main/java/com/example/nuberjam/data/model/Playlist.kt
Labels: feat, playlist

#116 feat(playlist): MP-366 Get Account Id from DataStore
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryViewModel.kt
Labels: feat, playlist

#118 feat(playlist): MP-381 Request API Read Playlist by User & Mapping
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/Mapping.kt
Labels: feat, playlist

#119 feat(playlist): MP-360 Create Playlist Item Linear Layout
  app/src/main/res/layout/linear_playlist_item.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Labels: feat, playlist

#120 feat(playlist): MP-367 List Library Adapter
  app/src/main/java/com/example/nuberjam/ui/main/adapter/LinearPlaylistAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/PlaylistAdapter.kt
Labels: feat, playlist

#121 feat(playlist) : MP-359 Create Appbar Layout
  app/src/main/res/drawable/ic_gridview_gray_24.xml
  app/src/main/res/drawable/ic_listview_gray_24.xml
  app/src/main/res/drawable/ic_plus_gray_24.xml
  app/src/main/res/layout/library_appbar.xml
Labels: feat, playlist

#122 feat(playlist): MP-361 Create Playlist Item Grid Layout
  app/src/main/res/layout/grid_playlist_item.xml
  app/src/main/res/values/strings.xml
Labels: feat, playlist

#123 feat(playlist): MP-362 Create Shimmer Linear Layout
  app/src/main/res/layout/shimmer_library_item.xml
  app/src/main/res/layout/shimmer_library_layout.xml
Labels: feat, playlist

#124 feat(playlist): MP-363 Finalize Library UI Layout
  app/src/main/res/layout/fragment_library.xml
  app/src/main/res/layout/linear_playlist_item.xml
Labels: feat, playlist

#125 feat(playlist): MP-364 Wiring AppBar to UI
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryFragment.kt
  app/src/main/res/layout/library_appbar.xml
Labels: feat, playlist

#126 refactor(favorite): MP-363 Add favorite card item to library
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryFragment.kt
  app/src/main/res/drawable/favorite_pic.png
  app/src/main/res/layout/fragment_library.xml
  app/src/main/res/layout/linear_playlist_item.xml
  app/src/main/res/values/strings.xml
Labels: favorite, refactor

#127 feat(favorite): MP-368 Grid Library Adapter
  app/src/main/java/com/example/nuberjam/ui/main/adapter/GridPlaylistAdapter.kt
Labels: favorite, feat, playlist

#128 feat(playlist): MP-369 Show Snackbar Error and Shimmer Loading
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryViewModel.kt
  app/src/main/res/layout/fragment_library.xml
  app/src/main/res/layout/shimmer_library_layout.xml
Labels: feat, playlist

#129 feat(playlist): MP-370 Wiring UI
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/res/layout/fragment_library.xml
  app/src/main/res/layout/grid_playlist_item.xml
  app/src/main/res/layout/library_favorite_layout.xml
  app/src/main/res/layout/linear_playlist_item.xml
  app/src/main/res/layout/shimmer_library_layout.xml
Labels: feat, playlist

#130 feat(playlist): MP-349 Library Feature
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/model/Playlist.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/GridPlaylistAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/LinearPlaylistAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/PlaylistAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/java/com/example/nuberjam/utils/Mapping.kt
  app/src/main/res/drawable/favorite_pic.png
  app/src/main/res/drawable/ic_gridview_gray_24.xml
  app/src/main/res/drawable/ic_listview_gray_24.xml
  app/src/main/res/drawable/ic_plus_gray_24.xml
  app/src/main/res/layout/fragment_library.xml
  app/src/main/res/layout/grid_playlist_item.xml
  app/src/main/res/layout/library_appbar.xml
  app/src/main/res/layout/library_favorite_layout.xml
  app/src/main/res/layout/linear_playlist_item.xml
  app/src/main/res/layout/shimmer_library_item.xml
  app/src/main/res/layout/shimmer_library_layout.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Labels: feat, playlist

#131 refactor(music): MP-384 Song Titles Overlap In Music Detail
  app/src/main/res/layout/music_controller.xml
Labels: music, refactor

#132 refactor(music): MP-386 Songs Automatically Play And Click Photos To Albums
  app/src/main/java/com/example/nuberjam/ui/main/adapter/MusicAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicFragment.kt
  app/src/main/res/layout/fragment_home.xml
Labels: music, refactor, defect

#133 feat(playlist): MP-374 Request API Add Playlist by User
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
Labels: feat, playlist

#134 feat(general): MP-372 Create Single Form Dialog Layout
  app/src/main/res/layout/single_form_dialog.xml
  app/src/main/res/values/strings.xml
Labels: feat, general
