Repository Nub-en-Nuber/NuberJam-Android, pull requests merged in 2024-01, with the labels that each got.

#188 feat(playlist-detail): 86cu5nvrp Configure Playlist Kebab (Edit + Delete)
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/res/menu/kebab_playlist_menu.xml
Labels: feat, playlist-detail

#189 feat(playlist-detail): 86cu5nvru Wiring API data to UI
  app/build.gradle
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryViewModel.kt
Labels: feat, playlist-detail

#190 feat(playlist): Playlist Feature (show data)
  app/build.gradle
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/model/PlaylistDetail.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/Mapping.kt
  app/src/main/java/com/example/nuberjam/utils/extensions/MappingExt.kt
  app/src/main/res/menu/kebab_playlist_menu.xml
Labels: feat, playlist, playlist-detail

#191 refactor(profile): 86cu98xqh Snackbar "Edit Successfully" in Profile Page
  app/src/main/java/com/example/nuberjam/ui/main/profile/ProfileFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/editname/EditNameDialogFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/editpassword/EditPasswordDialogFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/editphoto/EditPhotoFragment.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/res/values/strings.xml
Labels: account, refactor, defect

#192 feat(playlist): 86cu9d8uq Create Update Playlist API (Name + Photo)
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/request/FavoriteRequest.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/request/PlaylistRequest.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/utils/Mapping.kt
Labels: feat, playlist

#193 bug(favorite): 86cu98yd8 Add Favorite in Music Detail
  app/src/main/java/com/example/nuberjam/data/model/Music.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicViewModel.kt
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/layout/music_controller.xml
Labels: bug, favorite, defect

#194 feat(playlist): 86cu9d8x6 Configure Edit Playlist Name Dialog Class
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/UpdatePlaylistViewModel.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/editname/EditNameDialogFragment.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/res/values/strings.xml
Labels: feat, playlist

#196 refactor(playlist): 86cu9fw0w refactor/bugfix wiring playlist detail
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryViewModel.kt
Labels: playlist, refactor, defect

#197 refactor(favorite): 86cu98ytn Change Photo Size in Library and Liked
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/res/layout/grid_playlist_item.xml
  app/src/main/res/values/dimens.xml
Labels: refactor

#199 refactor(profile): 86cu98y8c Name Placement in Profile Page
  app/src/main/res/layout/fragment_profile.xml
Labels: account, refactor

#200 feat(account): 86cu98yuw Dialog log out confirmation
  app/src/main/java/com/example/nuberjam/ui/main/profile/ProfileFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/logout/LogoutDialogFragment.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/res/layout/confirmation_dialog.xml
  app/src/main/res/values/strings.xml
Labels: account, feat

#201 feat(playlist-detail): 86cu9g64t Create Delete Music from Playlist API
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
Labels: feat, playlist-detail

#202 feat(playlist): 86cu9fgpt Create Playlist Dialog UI
  app/src/main/res/layout/dialog_loading_state.xml
  app/src/main/res/layout/fragment_library.xml
  app/src/main/res/layout/linear_playlist_item.xml
  app/src/main/res/layout/playlist_dialog.xml
  app/src/main/res/raw/loading_animation.json
Labels: feat, playlist

#203 feat(album): 86cu9kkkr Album Entry Point from Music List Photo
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/search/SearchViewModel.kt
  app/src/main/res/layout/detail_library_appbar.xml
  app/src/main/res/layout/home_appbar.xml
  app/src/main/res/layout/library_appbar.xml
  app/src/main/res/navigation/main_navigation.xml
Labels: album, bug, favorite, feat, playlist, playlist-detail, refactor, defect

#204 feat(general): 86cu8u0um Tech Debt Sprint 9
  app/src/main/java/com/example/nuberjam/data/model/Music.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicViewModel.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/ProfileFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/editname/EditNameDialogFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/editpassword/EditPasswordDialogFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/editphoto/EditPhotoFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/logout/LogoutDialogFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/search/SearchViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/res/layout/confirmation_dialog.xml
  app/src/main/res/layout/detail_library_appbar.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/layout/grid_playlist_item.xml
  app/src/main/res/layout/home_appbar.xml
  app/src/main/res/layout/library_appbar.xml
  app/src/main/res/layout/music_controller.xml
  app/src/main/res/navigation/main_navigation.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Labels: account, album, bug, favorite, feat, playlist, playlist-detail, defect

#205 feat(playlist): 86cu9fgvh Create Add Music to Playlist API
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
Labels: feat, playlist, playlist-detail

#206 feat(playlist): 86cu9d92y Configure Edit Playlist Photo
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/GridPlaylistAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/LinearPlaylistAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/editname/EditNameDialogFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/ProfileFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/editphoto/EditPhotoFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/editphoto/EditPhotoViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/res/layout/edit_photo_appbar.xml
  app/src/main/res/navigation/main_navigation.xml
  app/src/main/res/values/strings.xml
Labels: feat, playlist

#207 feat(playlist-detail): 86cu9d90k Configure Delete Playlist Dialog Class
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/UpdatePlaylistViewModel.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/deleteplaylist/DeletePlaylistDialogFragment.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/res/layout/confirmation_dialog.xml
  app/src/main/res/values/strings.xml
Labels: feat, playlist-detail

#208 refactor(playlist-detail): 86cua8j9m Change Playlist&Profile Placeholder
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/ProfileFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/editphoto/EditPhotoFragment.kt
  app/src/main/res/drawable/default_playlist.jpg
  app/src/main/res/drawable/ic_profile_placeholder_256.xml
  app/src/main/res/drawable/ic_profile_placeholder_96.xml
Labels: playlist-detail, refactor

#209 feat(playlist-detail): 86cu9d8ne Playlist Feature (edit & delete playlist)
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/request/FavoriteRequest.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/request/PlaylistRequest.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/GridPlaylistAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/LinearPlaylistAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/UpdatePlaylistViewModel.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/deleteplaylist/DeletePlaylistDialogFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/editname/EditNameDialogFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/ProfileFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/editphoto/EditPhotoFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/profile/editphoto/EditPhotoViewModel.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/java/com/example/nuberjam/utils/Mapping.kt
  app/src/main/res/drawable/default_playlist.jpg
  app/src/main/res/drawable/ic_profile_placeholder_256.xml
  app/src/main/res/drawable/ic_profile_placeholder_96.xml
  app/src/main/res/layout/confirmation_dialog.xml
  app/src/main/res/layout/edit_photo_appbar.xml
  app/src/main/res/navigation/main_navigation.xml
  app/src/main/res/values/strings.xml
Labels: feat, playlist-detail, refactor

#210 feat(playlist): 86cu9fh8z Configure Search Data Playlist API Dialog Class
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/LibraryAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/MusicAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/SearchPlaylistAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/LibraryViewModel.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/UpdatePlaylistViewModel.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/searchplaylist/SearchPlaylistDialogFragment.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/java/com/example/nuberjam/utils/Helper.kt
  app/src/main/java/com/example/nuberjam/utils/extensions/MultiStateViewExt.kt
  app/src/main/res/layout/default_empty_state.xml
  app/src/main/res/layout/default_error_state.xml
  app/src/main/res/layout/dialog_loading_state.xml
  app/src/main/res/layout/playlist_dialog.xml
  app/src/main/res/values/strings.xml
Labels: feat, playlist

#211 feat(playlist-detail): 86cu9g69u Configure Confirmation Dialog Class
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/model/Music.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/MusicAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/UpdatePlaylistViewModel.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/deletemusic/DeleteMusicFromPlaylistDialogFragment.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/java/com/example/nuberjam/utils/Mapping.kt
  app/src/main/res/values/strings.xml
Labels: feat, playlist-detail

#213 feat(playlist-detail): 86cu9fhd0 Configure Add Music To Playlist
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/UpdatePlaylistViewModel.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/searchplaylist/SearchPlaylistDialogFragment.kt
  app/src/main/res/layout/default_empty_state.xml
  app/src/main/res/layout/default_error_state.xml
  app/src/main/res/layout/playlist_dialog.xml
Labels: feat, playlist-detail

#212 feat(playlist-detail): 86cu9g62t Playlist Feature (delete music from playlist)
  app/src/main/java/com/example/nuberjam/data/Repository.kt
  app/src/main/java/com/example/nuberjam/data/model/Music.kt
  app/src/main/java/com/example/nuberjam/data/source/remote/service/ApiService.kt
  app/src/main/java/com/example/nuberjam/ui/main/adapter/MusicAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/home/HomeFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/UpdatePlaylistViewModel.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/deletemusic/DeleteMusicFromPlaylistDialogFragment.kt
  app/src/main/java/com/example/nuberjam/utils/Constant.kt
  app/src/main/java/com/example/nuberjam/utils/Mapping.kt
  app/src/main/res/values/strings.xml
Labels: feat, playlist-detail

#215 feat(playlist-detail): 86cu9fhgv Configure Confirmation Dialog Class
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/UpdatePlaylistViewModel.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/searchplaylist/AddMusicConfirmationDialogFragment.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/searchplaylist/SearchPlaylistDialogFragment.kt
  app/src/main/res/values/strings.xml
Labels: feat, playlist-detail

#216 feat(playlist): 86cu9fhn1 Wiring data to UI for each fragment
  app/src/main/java/com/example/nuberjam/ui/main/adapter/MusicAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/music/MusicFragment.kt
Labels: feat, playlist

#218 refactor(playlist): 86cu9xz7z Playlist Kebab UI
  app/src/main/java/com/example/nuberjam/ui/main/adapter/MusicAdapter.kt
  app/src/main/java/com/example/nuberjam/ui/main/library/detail/DetailLibraryFragment.kt
  app/src/main/res/layout/popup_kebab_playlist.xml
  app/src/main/res/menu/kebab_music_playlist_menu.xml
  app/src/main/res/menu/kebab_playlist_menu.xml
  app/src/main/res/values/dimens.xml
Labels: playlist, playlist-detail, refactor, defect
